.hero {
    background-color: red;
    justify-content: space-between;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #ffffff;

    &__img{
        width: 300px;
        height: auto;
    }

    &__span{
        color: $primary;
    }

    &__img-bg{
    width: 36vw;
    height: 32vw;
    max-height: 465px;
    max-width: 520px;
    margin-left: -8vw;
    flex: 0 0 auto;
    background-image: url(../../../../public/assets/globe-art.svg);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    }

    &__wrapper {
        padding: 10% 9%;
        width: 50%;


        &-title {
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 65px;
            line-height: 70px;
            font-weight: 600;

        }

        &-text {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 33px;
            font-weight: 400;
        }
    }
}
